<?xml version='1.0' encoding='utf-8'?>
<widget id="com.elvatv.app" version="1.0.0"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0">

  <name>Elva TV</name>
  <description>Aplicación Elva TV empaquetada con Cordova</description>
  <author email="alditoade84@gmail.com" href="https://example.com">Elva TV</author>

  <content src="index.html" />

  <preference name="fullscreen" value="true" />
  <preference name="orientation" value="landscape" />
  <preference name="AndroidInsecureFileModeEnabled" value="true" />

  <allow-navigation href="*" />
  <access origin="*" />
</widget>
